@page "/bubble-sort-visualization"

@rendermode InteractiveWebAssembly

<PageTitle>Пузырьковая сортировка</PageTitle>

<h3>Bubble Sort Visualization</h3>


<SortVisualizator Algorithm="@SortService.BubbleSort"/>
