@page "/statistics"
@using SortVisualizer.Client.Pages.Components

@rendermode InteractiveWebAssembly
@inject UserDataStorage userData

<PageTitle>Статистика</PageTitle>

<div class="block-bg-color bdr main-statistics-block top-block">
    <div class="row h-100">
        <div class="col pt-3 text-center h-100 px-4 py-4">

            <AlgorithmGraphComponent />

        </div>
    </div>
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        var saveAPI = new SaveAPI(userData);

        await saveAPI.TryGetAlgorithms();
    }
}