@page "/statistics"
@using SortVisualizer.Client.Pages.Components

<PageTitle>Статистика</PageTitle>

<div class="block-bg-color bdr full-page-block top-block">
    <div class="row h-100">
        <div class="col pt-3 text-center h-100 px-4 py-4">

            <AlgorithmGraphComponent />

        </div>
    </div>
</div>