@page "/"

<PageTitle>Визуализация сортировок</PageTitle>

<div class="block-bg-color bdr p-4 top-block h-auto w-auto">

    <h2>Добро пожаловать в приложение для визуализации алгоритмов сортировки данных!</h2>
    <p>
        Здесь алгоритмы сортировки оживают в виде графиков, помогая понять и оценить их работу. Тут можно наблюдать за процессом переупорядочивания данных в реальном времени, визуализируя работу различных алгоритмов сортировки. Благодаря этому, сложные концепции становятся более доступными и наглядными, что позволяет глубже разобраться в принципах их функционирования.
    </p>
    <p>
        Независимо от того, являетесь ли Вы начинающим программистом, студентом, изучающим алгоритмы, или профессионалом в поиске оптимальных решений, это приложение предоставит инструменты для визуализации и понимания различных методов сортировки.
    </p>
    <p>
        Наслаждайтесь изучением разнообразных стратегий сортировки и откройте для себя их красоту и эффективность.
    </p>
    <p>
        Добро пожаловать в захватывающий мир сортировки данных!
    </p>
</div>