@page "/"

<PageTitle>Визуализация сортировок</PageTitle>

<div class="block-bg-color bdr p-4 top-block" style="height:auto; width:auto;">

    <h2>Добро пожаловать в приложение визуализации алгоритмов сортировки данных!</h2>

    <p>
        Рад приветствовать вас в мире сортировок, где алгоритмы превращаются в живые графики, помогая вам понять и оценить их работу. Здесь вы сможете наблюдать, как данные переупорядочиваются в реальном времени, визуализируя процесс работы различных алгоритмов сортировки.
    </p>

    <p>
        Не важно, являетесь ли вы начинающим программистом, студентом, изучающим алгоритмы, или профессионалом, ищущим оптимальные решения - приложение предоставит вам инструменты для визуализации и понимания разнообразных методов сортировки.
    </p>

    <p>
        Наслаждайтесь путешествием по разнообразным стратегиям сортировки и давайте вместе обнаружим красоту и эффективность этих алгоритмов.
    </p>

    <p>
        Добро пожаловать в увлекательный мир сортировок!
    </p>
</div>